html,
body {
  height: 100%;
}

*{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}
header {
	position: relative;
}
header, footer{
	background: #5411286b;
}
footer {
	position: absolute;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	height: 292px;
}
.wrap {
	position: relative;
	min-height: 100%;
}

header h1 {
	font-family: segoe script;
	font-size: 38px;
	margin-left: 415px;
	margin-top: -19px;
	position: absolute;
	color: #2F4F4F;
}
main {
	background: #e4dedee3;
	color: #2F4F4F;
}

p {
	padding-top: 30px ;
}


.text2 {
	text-align: justify;
	margin:87px 14px 37px;
}

li a  {
	color: lightgray;
	font-size: 15px;
}

footer li  {
	list-style-type: none; 
	margin-left: 390px;
	font-size: 15px;
}

.content1 { 
	width: 100%;
	max-width:960px;
	margin:auto;
	padding: 0 10px;
	background-image: url("header6.gif");
	background-size: 98%;
	background-position:center;
	overflow: hidden;
	box-shadow: 0 0 19px #666;

 }

 .content1 li a {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin-top: 36px;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  color: #2F4F4F;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;  

}

.content2 { 
	width: 100%;
	max-width:960px;
	margin:auto;
	padding: 0 20px;
	background:#fefefe;
	background-size: 100%;
	overflow: hidden;
	border-top: 10px double #708090;
	border-bottom: 10px double #708090;
	text-align: center;
	font-family:Georgia, 'Times New Roman', Times, serif;
	box-shadow: 0 0 19px #666;
	padding-bottom: 260px;
	padding-top: 35px;
}

.content1 img {
	/*margin:7px;*/
	margin:19px 8px -109px 37px;
	width: 170px;
	height: 160px;

}
/* .content2 img:nth-child(1){ 
	margin: 15px;
	float: left;
	width:260px;

 }*/


 .img1{ 
	margin: 15px;
	float: left;
	width:260px;

 }
 .img2{
 	margin:134px 7px 11px 33px;
	float: right;
	width:260px;
 }


.content3 { 
	width: 100%;
	max-width:960px;
	margin:auto;
	padding: 0 15px;
	background:#333333;
	background-size: 100%;
	overflow: hidden;
	box-shadow: 0 0 19px #666;

 }


 
.bord { 
	border-radius: 100px;
	/*box-shadow: 0 0 7px #666;*/
 }
 .content3 img:nth-child(1) {
 	width: 195px;
 	height: 185px;
 }

 
 .foot2{
 	width: 210px;
 	height: 185px;
 }
 .foot3{
 	width: 240px;
 	height: 185px;
 }
 .foot4{
 	width: 165px;
 	height: 185px;
 }

 a{
	display: inline-block;
}

footer img {
	margin-top:27px;
	margin-right: 5px;
	margin-left: 18px;
}


header nav li {
	display: inline-block;
	padding: 25px;
	font-family:'consola';
}
header nav a {
	text-decoration: none;
	line-height: 3em;
	font-weight: bold;
	text-align: center;
}
header nav a:hover{
	color: rgba(200,100,220,1);
	background: lightgrey;
}


header .menu {
	float:right;
	margin-top: 65px;
	overflow: hidden;
}

h4 {
	margin-top: 10px;
	margin-left: 345px;
}
h2 {
	margin-left: 385px;
}

@media only screen and (max-device-width: 800px) {
	.wrap {
		width: 720px;
	}
	.conten1{
		width: 720px;
		height: 200px

	}

	main {
		width: 720px;
	}
	header.menu {
		/*float:none;*/ 
		position: relative;
        margin-top: 50px;
	}
	header {
		height: 289px;
		width: 720px;
		position: relative; 

	}
	header h1 {
		margin-left: 315px;
	}
 	nav {
 		width: auto;
 		float: none;
 	}
 	footer {
 		height: 150px;
 		width: 720px;
 	}
}

